body {
  font-family: 'Century Gothic', Futura, sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

hr {
  opacity: 0.5;
  border: none;
  height: 1px;
  max-width: 100%;
  margin-top: 30px;
  margin-bottom: 30px;
}

/* 
This hides the Create-React-App ErrorOverlay that will overlay the whole application when React fails to compile. The problem here is that it also overlays the workshop instructions with the example

Reference: https://github.com/kentcdodds/react-workshop-app/issues/4

*/
body:not([class*="isolated"]) iframe {
  display: none;
}
