html,
body,
#⚛ {
  min-height: 100vh;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/*
  This will hide the focus indicator if the element receives focus via the mouse,
  but it will still show up on keyboard focus.
*/
.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

.fill-screen-center {
  padding: 30px;
  min-height: 100vh;
  display: grid;
  align-items: center;
  justify-content: center;
}

.totally-centered {
  min-width: 100%;
  min-height: 100%;
  display: grid;
  align-items: center;
  justify-content: center;
}

[data-reach-tab] {
  cursor: pointer;
}
