html,
body,
#⚛ {
  min-height: 100vh;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

hr {
  width: 100%;
}

.fill-screen-center {
  padding: 30px;
  min-height: 100vh;
  display: grid;
  align-items: center;
  justify-content: center;
}

.totally-centered {
  min-width: 100%;
  min-height: 100%;
  display: grid;
  align-items: center;
  justify-content: center;
}
